n8n-Telegram-Production-Chart-FIXED.json
{
  "name": "Telegram Production Chart Bot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        96
      ],
      "id": "7e792d92-6b2a-4ea9-bc36-1692e8277d69",
      "name": "Telegram Trigger",
      "webhookId": "ec7c9121-9045-403e-943e-7ce1927be5a3",
      "credentials": {
        "telegramApi": {
          "id": "BDfXjMUVzqBPxhWS",
          "name": "Telegram account 5"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const msg = ($json.message && $json.message.text ? $json.message.text : '').trim();\nconst lower = msg.toLowerCase();\n\n// ── กันชนกับสาย \"สรุป CIP\" ──\n// ถ้าเป็นคำสั่ง สรุป CIP / สรุป line X / สรุป ทดลอง ให้ปล่อยให้สาย CIP จัดการอย่างเดียว\n// (เงื่อนไขตรงกับ buildCipReplyPayload ใน server: สรุป + (cip | line1-3 | ทดลอง))\nconst isCipCommand = lower.includes('สรุป') &&\n  (lower.includes('cip') || /(?:line|ไลน์)\\s*[123]/.test(lower) || lower.includes('ทดลอง'));\nif (isCipCommand) {\n  return [];\n}\n\n// ตอบเฉพาะข้อความที่เกี่ยวกับการสรุป/ผลิต/แผน/chart เท่านั้น\nif (!(lower.includes('สรุป') || lower.includes('ผลิต') || lower.includes('แผน') || lower.includes('chart') || lower.includes('กราฟ'))) {\n  return [];\n}\nconst CUTOFF_HOUR = 6; // ตัดวัน: batch เวลา 00:00-05:59 นับเป็น \"วันผลิต\" ของวันก่อนหน้า\nconst flavorList = [\"Amazon\",\"FDS\",\"Golden\",\"Freshy Lychee\",\"Freshy Strawberry\",\"Senorita Coconut\",\"Senorita Caramel\",\"Freshy Blue Hawaii\",\"Freshy Lime\",\"Freshy Green Apple\",\"Freshy Sala\",\"Senorita Yuzu\",\"MLH 02\",\"Freshy Pineapple\",\"Freshy Grape\",\"Freshy Punch\",\"Freshy blue Lemon\",\"Senorita Fres Mint\",\"Freshy Orange\",\"Signature Rose\",\"Freshy Shine Muscat Grape\",\"Freshy Peach\"];\nlet flavor = '';\nfor (const f of flavorList) { if (lower.includes(f.toLowerCase())) { flavor = f; break; } }\nlet date = '';\nconst iso = msg.match(/\\d{4}-\\d{2}-\\d{2}/);\nif (lower.includes('ทั้งหมด') || lower.includes('all')) date = '';\nelse if (iso) date = iso[0];\nelse {\n  // วันผลิตปัจจุบัน: ถ้าก่อนถึง cutoff (เช่นตี 1) ให้ถือเป็นวันของเมื่อวาน\n  const bkk = new Date(new Date().toLocaleString('en-US',{timeZone:'Asia/Bangkok'}));\n  if (bkk.getHours() < CUTOFF_HOUR) bkk.setDate(bkk.getDate() - 1);\n  date = bkk.toISOString().slice(0,10);\n}\nreturn [{ json: { text: msg, flavor, date, chatId: ($json.message && $json.message.chat ? $json.message.chat.id : '') } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ],
      "id": "3ec50f52-b4c9-4681-9a76-cb904df9997f",
      "name": "Parse Query"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Tm9UibL5o9assdK7L-MbM27H8KDB7gysd0g2b4X5gA8",
          "mode": "list",
          "cachedResultName": "Log-CIP",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Tm9UibL5o9assdK7L-MbM27H8KDB7gysd0g2b4X5gA8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "การผลิต",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Tm9UibL5o9assdK7L-MbM27H8KDB7gysd0g2b4X5gA8/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        448,
        0
      ],
      "id": "aa78d781-a7cf-4a6a-a148-3f49a4307c7a",
      "name": "Read Actual",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gKmYysQsNmcYuB9E",
          "name": "GoogleAuth"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Tm9UibL5o9assdK7L-MbM27H8KDB7gysd0g2b4X5gA8",
          "mode": "list",
          "cachedResultName": "Log-CIP",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Tm9UibL5o9assdK7L-MbM27H8KDB7gysd0g2b4X5gA8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 647726544,
          "mode": "list",
          "cachedResultName": "แผนผลิต",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Tm9UibL5o9assdK7L-MbM27H8KDB7gysd0g2b4X5gA8/edit#gid=647726544"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        672,
        0
      ],
      "id": "8d1e8721-49b1-40fd-888a-685e34a35824",
      "name": "Read Plan",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gKmYysQsNmcYuB9E",
          "name": "GoogleAuth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const q = $('Parse Query').first().json;\nconst wantFlavor = (q.flavor || '').toLowerCase();\nconst actualRows = $('Read Actual').all().map(i => i.json);\nlet planRows = [];\ntry { planRows = $('Read Plan').all().map(i => i.json); } catch (e) { planRows = []; }\n\nconst CUTOFF_HOUR = 6; // ตัดวัน: batch ก่อน 06:00 = วันผลิตของวันก่อนหน้า\nfunction prodDay(ts) {\n  ts = String(ts || '');\n  const datePart = ts.slice(0, 10);\n  if (!/^\\d{4}-\\d{2}-\\d{2}/.test(datePart)) return datePart;\n  const hour = parseInt((ts.slice(11).trim().split(':')[0] || '0'), 10) || 0;\n  if (hour < CUTOFF_HOUR) {\n    const dt = new Date(datePart + 'T12:00:00Z');\n    dt.setUTCDate(dt.getUTCDate() - 1);\n    return dt.toISOString().slice(0, 10);\n  }\n  return datePart;\n}\n// คีย์เรียงตามเวลาจริง (รองรับชั่วโมงเลขเดียว เช่น \"0:11\")\nfunction tsKey(ts) {\n  const m = String(ts || '').match(/(\\d{4})-(\\d{2})-(\\d{2})[ T](\\d{1,2}):(\\d{2})(?::(\\d{2}))?/);\n  if (!m) return String(ts || '');\n  return m[1] + m[2] + m[3] + m[4].padStart(2, '0') + m[5] + (m[6] || '00');\n}\nfunction statusEmoji(p, a) {\n  if (p <= 0) return a > 0 ? '🔵' : '⚪';\n  const r = a / p * 100;\n  if (r >= 100) return '✅';\n  if (r >= 75) return '🟢';\n  if (r >= 50) return '🟡';\n  return '🔴';\n}\n\nconst actual = {};\nconst batchesByLine = {}; // \"Line X | flavor\" -> [{b, k}]\nfor (const r of actualRows) {\n  const f = (r.flavor || '').toString().trim();\n  if (!f) continue;\n  if (q.date && prodDay(r.timestamp) !== q.date) continue;\n  if (wantFlavor && !f.toLowerCase().includes(wantFlavor)) continue;\n  actual[f] = (actual[f] || 0) + 1;\n  const line = (r.line || '-').toString().trim();\n  const b = (r.batch || '').toString().trim();\n  const key = line + ' | ' + f;\n  if (!batchesByLine[key]) batchesByLine[key] = [];\n  if (b) batchesByLine[key].push({ b: b, k: tsKey(r.timestamp) });\n}\nconst plan = {};\nconst planByLine = {}; // \"Line X | flavor\" -> planned batches\nfor (const r of planRows) {\n  const f = (r.flavor || '').toString().trim();\n  if (!f) continue;\n  if (q.date && r.planDate && String(r.planDate) !== q.date) continue;\n  if (wantFlavor && !f.toLowerCase().includes(wantFlavor)) continue;\n  plan[f] = (plan[f] || 0) + Number(r.plannedBatches || 0);\n  const line = (r.line || '-').toString().trim();\n  const key = line + ' | ' + f;\n  planByLine[key] = (planByLine[key] || 0) + Number(r.plannedBatches || 0);\n}\n\nlet flavors = Array.from(new Set([...Object.keys(plan), ...Object.keys(actual)]));\nif (wantFlavor) {\n  const filtered = flavors.filter(f => f.toLowerCase().includes(wantFlavor));\n  if (filtered.length) flavors = filtered;\n}\nflavors.sort();\nif (flavors.length === 0) {\n  return [{ json: { chatId: q.chatId, caption: '⚠️ ไม่พบข้อมูลการผลิต' + (q.date ? (' วันที่ ' + q.date) : '') + ' ครับ', chartUrl: '' } }];\n}\n\nconst planData = flavors.map(f => plan[f] || 0);\nconst actualData = flavors.map(f => actual[f] || 0);\n// ฝังสรุป (header + ต่อรส + ยอดรวม) ลงใน title ของรูป + โชว์ตัวเลขบนแท่ง (datalabels)\nlet tTp = 0, tTa = 0;\nconst titleLines = ['📊 แผน vs ผลิตจริง (batch)' + (q.date ? (' ' + q.date) : '')];\nfor (const f of flavors) {\n  const p = plan[f] || 0, a = actual[f] || 0;\n  tTp += p; tTa += a;\n  const pct = p > 0 ? Math.round(a / p * 100) : 0;\n  titleLines.push(f + ': แผน ' + p + ' · จริง ' + a + ' (' + pct + '%)');\n}\ntitleLines.push('รวม จริง ' + tTa + ' / แผน ' + tTp + ' batch');\nconst chart = {\n  type: 'bar',\n  data: { labels: flavors, datasets: [\n    { label: 'แผน', data: planData, backgroundColor: 'rgba(21,101,192,0.75)', datalabels: { color: '#1565c0' } },\n    { label: 'ผลิตจริง', data: actualData, backgroundColor: 'rgba(67,160,71,0.85)', datalabels: { color: '#2e7d32' } } ] },\n  options: {\n    title: { display: true, text: titleLines, fontStyle: 'bold', fontSize: 14 },\n    legend: { display: true },\n    plugins: { datalabels: { display: true, anchor: 'end', align: 'end', font: { size: 12, weight: 'bold' } } },\n    scales: { yAxes: [{ ticks: { beginAtZero: true, precision: 0 } }] }\n  }\n};\nconst chartH = 440 + Math.max(0, titleLines.length - 3) * 22;\nconst chartUrl = 'https://quickchart.io/chart?w=760&h=' + chartH + '&c=' + encodeURIComponent(JSON.stringify(chart));\n\nconst LINE = '━━━━━━━━━━━━━━━';\nlet cap = '📊 สรุปการผลิต   📅 ' + (q.date || 'ทั้งหมด') + '\\n' + LINE + '\\n';\nlet tp = 0, ta = 0;\nfor (const f of flavors) {\n  const p = plan[f] || 0, a = actual[f] || 0; tp += p; ta += a;\n  const pct = p > 0 ? Math.round(a / p * 100) : 0;\n  cap += '\\n🧃 ' + f + '\\n';\n  cap += '   🎯 แผน ' + p + '   ✅ จริง ' + a + '   ' + statusEmoji(p, a) + ' ' + pct + '%\\n';\n}\ncap += LINE + '\\n📦 รวม:  ✅ ' + ta + ' / 🎯 ' + tp + ' batch';\n\nconst allKeys = Array.from(new Set([...Object.keys(planByLine), ...Object.keys(batchesByLine)])).sort();\nif (allKeys.length) {\n  cap += '\\n\\n🏭 รายละเอียดแต่ละเลน';\n  for (const k of allKeys) {\n    const parts = k.split(' | ');\n    const lineName = parts[0], fl = parts[1] || '';\n    const planN = planByLine[k] || 0;\n    const list = (batchesByLine[k] || []).slice()\n      .sort((x, y) => x.k < y.k ? -1 : x.k > y.k ? 1 : 0)\n      .map(o => o.b);\n    cap += '\\n\\n▸ ' + lineName + ' · 🧃 ' + fl;\n    cap += '\\n   🎯 แผน ' + planN + '   ✅ จริง ' + list.length;\n    if (list.length) cap += '\\n   📋 Batch: ' + list.join(', ');\n  }\n}\nreturn [{ json: { chatId: q.chatId, chartUrl, caption: cap } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        0
      ],
      "id": "7b82f8bc-e717-475d-9da1-d587e485ecda",
      "name": "Build Chart"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $json.chatId }}",
        "file": "={{ $json.chartUrl }}",
        "additionalFields": {
          "caption": "={{ $json.caption }}"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1120,
        0
      ],
      "id": "88444c20-1206-4979-898d-42ddef7e3195",
      "name": "Send Chart",
      "webhookId": "a8cd8298-d7b5-4750-b7fc-40fab0131dac",
      "credentials": {
        "telegramApi": {
          "id": "BDfXjMUVzqBPxhWS",
          "name": "Telegram account 5"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://back-wash-test.onrender.com/api/cip-summary",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "timeout": 90000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        224,
        192
      ],
      "id": "c851ab1e-639c-444c-a278-cfcc67744346",
      "name": "Check CIP Summary",
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4a0c6690-1d2c-4ef8-ae1f-7588d9f8cbfb",
              "leftValue": "={{ $json.matched }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        448,
        192
      ],
      "id": "8fc79ba6-b15a-46f6-a762-74694e057097",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $json.chatId }}",
        "file": "={{ $json.chartUrl }}",
        "additionalFields": {
          "caption": "={{ $json.caption }}"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        720,
        176
      ],
      "id": "215e7c01-aebb-4f59-9b73-a3b279e73d91",
      "name": "Send CIP Chart",
      "webhookId": "83a69b0d-9311-494d-99ea-b68612ceb860",
      "credentials": {
        "telegramApi": {
          "id": "BDfXjMUVzqBPxhWS",
          "name": "Telegram account 5"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 3
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "9ae09e77-6b16-4d77-9b81-c4547027abaf",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "bf970371-5bff-4d89-a506-9e10c2e799c6",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "สรุป",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "89c05e26-93d6-465d-9e4a-80326126e413",
      "name": "Is Assistant Msg",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        460,
        640
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://back-wash-test.onrender.com/api/assistant",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"message\": $json.message.text, \"operator\": ($json.message.from.first_name || \"\") } }}",
        "options": {
          "timeout": 90000
        }
      },
      "id": "9aff5bce-7a37-4cfe-91b4-9902de216ab7",
      "name": "Ask Assistant",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        700,
        640
      ]
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.reply }}",
        "additionalFields": {}
      },
      "id": "7ab49e1f-fa08-442a-817e-e12a28c353e1",
      "name": "Send Assistant Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        940,
        640
      ],
      "credentials": {
        "telegramApi": {
          "id": "BDfXjMUVzqBPxhWS",
          "name": "Telegram account 5"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Check CIP Summary",
            "type": "main",
            "index": 0
          },
          {
            "node": "Parse Query",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is Assistant Msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Query": {
      "main": [
        [
          {
            "node": "Read Actual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Actual": {
      "main": [
        [
          {
            "node": "Read Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Plan": {
      "main": [
        [
          {
            "node": "Build Chart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Chart": {
      "main": [
        [
          {
            "node": "Send Chart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check CIP Summary": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send CIP Chart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Assistant Msg": {
      "main": [
        [
          {
            "node": "Ask Assistant",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Ask Assistant": {
      "main": [
        [
          {
            "node": "Send Assistant Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "6a1c0f00-fix-cip-prod-split-0001",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "21a28d363b1282ab9c0b35e07c5213c656bd9175ba2b796797fa7b0daedadf08"
  },
  "id": "nLycE5wXM5VlSuCeOuQJY",
  "tags": []
}