sticker-guide-chat.json
{
  "name": "Sticker Guide Chat (Web Chat -> Supabase)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sticker-guide-chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook (รับคำถามจากเว็บแชท)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -460,
        0
      ],
      "webhookId": "sticker-guide-chat"
    },
    {
      "parameters": {
        "jsThinkingMode": "code",
        "jsCode": "// เว็บแชทส่งข้อความรูปแบบ: \"วิธีติดสติ๊กเกอร์ลูกค้า <ชื่อลูกค้าเต็ม>\"\n// ตัด prefix นี้ออก แล้วใช้ \"ส่วนที่เหลือทั้งหมด\" เป็นชื่อลูกค้า\n// (ของเดิมใช้ regex ตัดแค่คำแรกหลัง \"ลูกค้า\" จึงดึงได้แค่คำกว้างๆ เช่น \"Icing\" แล้วค้นผิด record)\nconst body = $input.first().json.body || {};\nconst message = (body.message || '').toString().trim();\n\nlet customerName = message\n  .replace(/^\\s*วิธีติดสติ๊กเกอร์\\s*ลูกค้า(?:ชื่อ)?\\s*/, '')\n  .trim();\n\nif (!customerName) customerName = message;\n\nreturn [{\n  json: {\n    message,\n    customerName,\n    sessionId: body.sessionId || null\n  }\n}];"
      },
      "id": "extract-customer-name",
      "name": "ดึงชื่อลูกค้าจากข้อความ",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-customer-name",
              "leftValue": "={{ $json.customerName }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-has-customer-name",
      "name": "พบชื่อลูกค้าในข้อความหรือไม่?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -20,
        0
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://rmolqxpsuwaenkzycyht.supabase.co/rest/v1/howtosticker",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "customer_name,steps,image_urls"
            },
            {
              "name": "limit",
              "value": "1000"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "PASTE_SUPABASE_ANON_KEY_HERE"
            },
            {
              "name": "Authorization",
              "value": "Bearer PASTE_SUPABASE_ANON_KEY_HERE"
            }
          ]
        },
        "options": {}
      },
      "id": "query-supabase",
      "name": "ค้นหาวิธีติดสติ๊กเกอร์ใน Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        200,
        -120
      ]
    },
    {
      "parameters": {
        "jsThinkingMode": "code",
        "jsCode": "// รวมทุก row จาก HTTP (รองรับทั้งคืนเป็น array ก้อนเดียว หรือแยกหลาย item)\nconst items = $input.all();\nlet rows = [];\nfor (const it of items) {\n  if (Array.isArray(it.json)) rows = rows.concat(it.json);\n  else if (it.json && it.json.customer_name) rows.push(it.json);\n}\n\nconst customerName = ($('ดึงชื่อลูกค้าจากข้อความ').first().json.customerName || '').toString();\n\n// normalize: ตัวเล็ก + ตัดช่องว่าง/อักขระพิเศษ เพื่อให้เทียบยืดหยุ่นขึ้น\nfunction norm(s) {\n  return (s || '').toString().toLowerCase().replace(/[\\s*_\\-./:(),]/g, '');\n}\nfunction bigrams(s) {\n  const o = [];\n  for (let i = 0; i < s.length - 1; i++) o.push(s.slice(i, i + 2));\n  return o;\n}\n// Dice coefficient (0..1) วัดความคล้ายของสองสตริง\nfunction dice(a, b) {\n  if (!a || !b) return 0;\n  if (a === b) return 1;\n  const A = bigrams(a), B = bigrams(b);\n  const m = {};\n  for (const g of B) m[g] = (m[g] || 0) + 1;\n  let x = 0;\n  for (const g of A) if (m[g] > 0) { x++; m[g]--; }\n  return (2 * x) / (A.length + B.length);\n}\n\nconst q = norm(customerName);\nlet best = null, bestScore = 0;\nfor (const r of rows) {\n  const name = norm(r.customer_name);\n  let score = dice(q, name);\n  // ถ้าพิมพ์บางส่วนที่อยู่ในชื่อ (เช่น \"เวียงคำ\") ให้ดันคะแนนขึ้น\n  if (q.length >= 3 && (name.includes(q) || q.includes(name))) score = Math.max(score, 0.9);\n  if (q === name) score = 1;\n  if (score > bestScore) { bestScore = score; best = r; }\n}\n\n// ปรับค่าได้: สูง=แม่นแต่เข้มงวด, ต่ำ=ยืดหยุ่นแต่เสี่ยงผิด\nconst THRESHOLD = 0.55;\n\nif (best && bestScore >= THRESHOLD) {\n  const stepsText = `📦 วิธีติดสติ๊กเกอร์สำหรับลูกค้า ${best.customer_name}\\n\\n${best.steps}`;\n  const imageUrls = Array.isArray(best.image_urls) ? best.image_urls : [];\n  return [{ json: { messages: [\n    { type: 'text', text: stepsText },\n    ...imageUrls.map((url) => ({ type: 'image', url }))\n  ] } }];\n}\n\nreturn [{ json: { messages: [\n  { type: 'text', text: `ขออภัยค่ะ ยังไม่พบข้อมูลที่ตรงกับ \"${customerName}\"\\nลองพิมพ์ชื่อลูกค้าให้ใกล้เคียงขึ้น หรือกดเลือกจากรายชื่อที่แนะนำนะคะ 🙏` }\n] } }];"
      },
      "id": "format-found-reply",
      "name": "จับคู่ลูกค้าที่ใกล้เคียงที่สุด + จัดคำตอบ",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        -220
      ]
    },
    {
      "parameters": {
        "jsThinkingMode": "code",
        "jsCode": "return [{\n  json: {\n    messages: [\n      {\n        type: 'text',\n        text: 'รบกวนระบุชื่อลูกค้าด้วยนะคะ เช่น \"วิธีติดสติ๊กเกอร์ลูกค้า Kaoshop\" เพื่อให้ระบบค้นหาขั้นตอนการติดสติ๊กเกอร์ให้ถูกต้องค่ะ'\n      }\n    ]\n  }\n}];"
      },
      "id": "format-no-customer-reply",
      "name": "จัดรูปแบบคำตอบ (ไม่พบชื่อลูกค้าในคำถาม)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        160
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-found",
      "name": "ตอบกลับเว็บแชท (พบข้อมูล)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        860,
        -220
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-no-customer",
      "name": "ตอบกลับเว็บแชท (ไม่พบชื่อลูกค้า)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        420,
        160
      ]
    }
  ],
  "connections": {
    "Webhook (รับคำถามจากเว็บแชท)": {
      "main": [
        [
          {
            "node": "ดึงชื่อลูกค้าจากข้อความ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ดึงชื่อลูกค้าจากข้อความ": {
      "main": [
        [
          {
            "node": "พบชื่อลูกค้าในข้อความหรือไม่?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "พบชื่อลูกค้าในข้อความหรือไม่?": {
      "main": [
        [
          {
            "node": "ค้นหาวิธีติดสติ๊กเกอร์ใน Supabase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "จัดรูปแบบคำตอบ (ไม่พบชื่อลูกค้าในคำถาม)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ค้นหาวิธีติดสติ๊กเกอร์ใน Supabase": {
      "main": [
        [
          {
            "node": "จับคู่ลูกค้าที่ใกล้เคียงที่สุด + จัดคำตอบ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "จัดรูปแบบคำตอบ (ไม่พบชื่อลูกค้าในคำถาม)": {
      "main": [
        [
          {
            "node": "ตอบกลับเว็บแชท (ไม่พบชื่อลูกค้า)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "จับคู่ลูกค้าที่ใกล้เคียงที่สุด + จัดคำตอบ": {
      "main": [
        [
          {
            "node": "ตอบกลับเว็บแชท (พบข้อมูล)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  }
}